@import "main.scss";

.article-container {
    min-height: 80vh;
    margin: 10vh 10vw;
    width: 80vw;
    position: relative;
    .article-body {
        white-space: pre-wrap;
        padding: 0 2rem;
        text-align: justify;
    }
    .article-nav {
        position: absolute;
        left: 0;
        bottom: 0;
        display: inline-flex;
        width: 100%;
        justify-content: space-around;
        padding: 2rem 0;
        .article-nav-button {
            display: inline-block;
            padding: 0.3rem 0.6rem;
            border: 1px solid;
            border-radius: 0.4rem;
            font-size: 1.2rem;
        }
    }
}