$fontsize-title: 2.5rem;
$fontsize-content: 1rem;
$color-black: #222;
$color-blue: #4286f4;

// reset due to user agent stylesheet
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  p {
    font-size: $fontsize-content;
  }
  h3 {
    font-size: $fontsize-title;
  }
}

.clear {
  clear: both;
}

// .stitches-sprite(@x: 0, @y: 0, @width: 0, @height: 0) {
//   background-position: @x @y;
//   width: @width;
//   height: @height;
// }


